<h2>
    <a href="{{ job.id ? "#" : path('job_post') }}" class="title">
        {{ job.title }}
    </a>
</h2>

<div class="details">
    <span class="filter">
        <a href="#">{{ job.city }}, {{ job.country | countryName }}</a> /
        <a href="#">{{ job.contractName }}</a>

        {# TOFUTURE <br/><span class="archived">Archived since 12/12/2013</span>#}
    </span>
</div>

<span class="company">@&nbsp; {{ job.company }}</span>
