{% extends 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
{% form_theme form 'SensioLabsJobBoardBundle:Form:fields.html.twig' %}

{% block box_content %}
    {{ form_start(form, {'method': 'POST', 'action': form_action, 'attr': {'novalidate': 'novalidate'}}) }}

    <div class="padding">
        <div class="head clearfix">

            {% if not form.vars.valid %}
                <div class="error-container">
                    <h4>{{ 'form.errors.title' | trans }}</h4>
                    <ul>
                        {% for field in form.children %}
                            {{ form_errors(field) }}
                            {% for child in field.children %}
                                {{ form_errors(child) }}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="title-company">
                <div class="job-title">
                    {{ form_row(form.title) }}
                </div>
                <div class="company-label">
                    <label class="label" for="job_company">@</label>
                    {{ form_row(form.company.name) }}
                </div>
            </div>

            <div class="country-city-contract">
                <div class="country-city clearfix">
                    <div class="city-input country-select">
                        {{ form_row(form.company.country) }}
                    </div>
                    <div class="city-input">
                        {{ form_row(form.company.city) }}
                    </div>
                </div>
                <div>
                    {{ form_row(form.contract) }}
                </div>
            </div>
        </div>

        {% block admin_extra_fields %}
        {% endblock %}

        {{ form_row(form.description) }}

        <div class="how-to-apply">
            <h3>{{ 'entity.job.how_to_apply' | trans }}</h3><br/>
            {{ form_row(form.howToApply) }}
        </div>

    </div>

    <div class="padding clearfix">
        {% block buttons %}{% endblock %}
    </div>

    <div class="clear"></div>

    {{ form_end(form) }}
{% endblock %}
