{% import '@SensioLabsJobBoard/Includes/macros.html.twig' as macros %}

<div class="filter">
    <span class="title">
        <img class="sprite-icon-location" alt=">" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}"/>
        {{ 'frontend.jobs.filters.location' | trans }}
    </span>
    <ul>
        <li class="{{ filters.country ? '' : 'active' }}">
            <a href="{{ path('homepage', {'contract': filters.contract}) }}">{{ 'frontend.jobs.filters.all_countries' | trans }}</a>
        </li>

        {% for i, country in countries %}
            <li {% if i > 2 %}style="display:none"{% endif %} class="{{ filters.country == country.key ? 'active' : '' }}">
                <a href="{{ path('homepage', {'contract': filters.contract, 'country': country.key}) }}">
                    {{ country.key | countryName }} ({{ country.doc_count }})
                </a>
            </li>
        {% endfor %}

        {% if (countries | length) > 4 %}
            <li>
                {{ macros.filteraction()  }}
            </li>
        {% endif %}
    </ul>
</div>
<div class="filter">
    <span class="title">
        <img class="sprite-icon-paperclip" alt=">" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}"/>
        {{ 'frontend.jobs.filters.contract' | trans }}
    </span>
    <ul>
        <li class="{{ filters.contract ? '' : 'active' }}">
            <a href="{{ path('homepage', {'country': filters.country}) }}">{{ 'frontend.jobs.filters.all_contracts' | trans }}</a>
        </li>

        {% for i, contract in contracts %}
            <li {% if i > 2 %}style="display:none"{% endif %} class="{{ filters.contract == (contract.key | upper) ? 'active' : '' }}">
                <a href="{{ path('homepage', {'contract': (contract.key | upper), 'country': filters.country}) }}">
                    {{ ('entity.job.contract.' ~ (contract.key | lower)) | trans }} ({{ contract.doc_count }})
                </a>
            </li>
        {% endfor %}

        {% if (contracts | length) > 4 %}
            <li>
                {{ macros.filteraction()  }}
            </li>
        {% endif %}
    </ul>
</div>
<ul class="function">
    <li>
        <a href="{{ path('homepage') }}">
            <img class="sprite-icon-dark-arrow-right" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" alt=">"/>
            {{ 'frontend.jobs.filters.all_jobs' | trans }}
        </a>
    </li>
</ul>
