<div class="details">
    <span class="filter">

        <a href="{{ path('homepage', {'contract': filters.contract, 'country': job.company.country}) }}">
            {{ job.company.city }}, {{ job.company.country | countryName }}
        </a> /
        <a href="{{ path('homepage', {'contract': job.contract, 'country': filters.country}) }}">
            {{ job.contract | contractName }}
        </a>
        
        {#<br/><span class="archived">Archived since 12/12/2013</span>#}

    </span>
</div>

<a href="{{ path('job_show', job.urlParameters) }}" class="title">
    {{ job.title }}
    <span class="company">@&nbsp;{{ job.company }}</span>
</a>
