{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% block page_class 'home' %}

{% block splash %}
    <div id="splash">
        <div class="section">
            <article>
                <img src="{{ asset('bundles/sensiolabsjobboard/images/home/megaphone.png') }}" alt="Job !" class="megaphone"/>

                <p class="description">{{ 'frontend.homepage' | trans | purify }}</p>
            </article>
        </div>
    </div>
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <link rel="alternate" type="application/rss+xml" href="{{ path('feed_rss', {'contract': filters.contract, 'country': filters.country}) }}" title="Jobs RSS feed"/>
{% endblock %}

{% block content %}
    <div id="left">
        {% include 'SensioLabsJobBoardBundle:Includes:jobs_filters.html.twig' %}
        <div class="feed">
            <a href="{{ path('feed_rss', {'contract': filters.contract, 'country': filters.country}) }}">
                <img src="{{ asset('bundles/sensiolabsjobboard/images/rss.png') }}" width="16" height="16"/>
                <span>{{ 'layout.menu.rss' | trans }}</span>
            </a>
        </div>
    </div>
    <div id="right">
        {% if app.session.flashBag.peek('success') | length %}
            <ul class="backend-flashes">
                {% for message in app.session.flashBag.get('success') %}
                    <li class="success">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="job-container">
            {% if jobs | length %}
                {% include 'SensioLabsJobBoardBundle:Includes:job_container.html.twig' %}
            {% else %}
                <p class="text-center">{{ 'frontend.jobs.no_job' | trans }}</p>
            {% endif %}
        </div>
        <div
                data-page="1"
                data-url="{{ path('homepage', {'contract': filters.contract, 'country': filters.country}) }}"
                data-empty="<p class='text-center'>{{ 'frontend.jobs.no_more_job' | trans }}</p>"
                id="loadmoreajaxloader"
                style="display:none;"
                >
            <p class="text-center"><img src="{{ asset('bundles/sensiolabsjobboard/images/ajax-loader.gif') }}" height="16"/></p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts output='js/homepage.js'
    '@SensioLabsJobBoardBundle/Resources/assets/homepage.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
