{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% block page_class 'home' %}

{% block splash %}
    <div id="splash">
        <div class="section">
            <article>
                <img src="{{ asset('bundles/sensiolabsjobboard/images/home/megaphone.png') }}" alt="Job !" class="megaphone"/>

                <p class="description">
                    The 1<sup>st</sup> jobboard 100% devoted to the <strong>Symfony</strong> community.<br/>
                    <strong>Recruiters</strong> The definitive source for Symfony talent.<br/>
                    <strong>Developers</strong> Find the project, the company, or the job of your dreams.
                </p>
            </article>
        </div>
    </div>
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <link rel="alternate" type="application/rss+xml" href="#" title="Jobs RSS feed"/>
{% endblock %}

{% block content %}
    <div id="left">
        {% include 'SensioLabsJobBoardBundle:Includes:jobs_filters.html.twig' %}
        <div class="feed">
            <a href="#">
                <img src="{{ asset('bundles/sensiolabsjobboard/images/rss.png') }}" width="16" height="16"/>
                <span>Flux RSS</span>
            </a>
        </div>
    </div>
    <div id="right">
        <div id="job-container">
            {% if jobs | length %}
                {% include 'SensioLabsJobBoardBundle:Includes:job_container.html.twig' %}
            {% else %}
                <p class="text-center">{% trans %}No job to show{% endtrans %}</p>
            {% endif %}
        </div>
        <div
                data-page="1"
                data-url="{{ path('homepage', {'contract': filters.contract, 'country': filters.country}) }}"
                data-empty="<p class='text-center'>{% trans %}No more jobs to show{% endtrans %}</p>"
                id="loadmoreajaxloader"
                style="display:none;"
                >
            <p class="text-center"><img src="{{ asset('bundles/sensiolabsjobboard/images/ajax-loader.gif') }}" height="16"/></p>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts output='js/homepage.js'
    '@SensioLabsJobBoardBundle/Resources/assets/homepage.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
