{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'manage' %}

{% block title 'My jobs' %}

{% block content %}
    {{ breadcrumb({
        ('My Jobs'): path('manage'),
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <h2 class="big-title">My jobs</h2>
                <a href="{{ path('job_post') }}" class="add right">
                    <img class="sprite-button-add-focus-grey-bg" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" alt="+"/> Post a job
                </a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span5"> Title</th>
                        <th class="span2"> Time left</th>
                        <th class="span2"> Displays</th>
                        <th class="span4"> Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for job in jobs %}
                        <tr>
                            <td>
                                <a href="{{ path('job_udpate_preview', job.urlParameters) }}">
                                    {{ job.contract | contractName }} in {{ job.company.city }} &mdash; {{ job.title }}
                                </a>
                            </td>

                            {% set now = date('now') %}
                            {% if job.publishStart == null %}
                                <td style="color:orange"> Waiting payment</td>
                            {% elseif job.publishStart > now %}
                                <td style="color:orange"> Not online yet</td>
                            {% else %}
                                {% if job.publishEnd > now %}
                                    <td>
                                        <abbr title="Expires on {{ job.publishEnd | localizeddate }}">
                                            {% transchoice date().diff(date(job.publishEnd)).d %}{0} Today|{1} 1 day|]1,Inf] %count% days{% endtranschoice %}
                                        </abbr>
                                    </td>
                                {% else %}
                                    <td style="color:pink"> Expired</td>
                                {% endif %}
                            {% endif %}

                            {#<td style="color:green"> Archived</td>#}

                            <td>{{ job.totalViewsCount }}</td>

                            <td class="action">
                                <a href="#"> Renew </a> /
                                <a href="{{ path('job_publish', job.urlParameters) }}">Publish</a> /
                                <a href="{{ path('job_update', job.urlParameters) }}"> Make changes</a> /
                                <a href="#"> Archive </a> /
                                <a href="#"> Unarchive </a> /
                                <a href="#"> Delete </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5"> You have no jobs.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="right">
                    {{ knp_pagination_render(jobs) }}
                </div>
                <div class="clear"></div>
            </div>
        {% endblock %}
        {% block box_clear %}
        {% endblock %}
    {% endembed %}
    <div class="clear"></div>
{% endblock %}
