{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'manage' %}

{% block title 'frontend.jobs.my_jobs' | trans %}

{% block content %}
    {{ breadcrumb({
        ('frontend.jobs.my_jobs' | trans): path('manage'),
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
        {% block box_content %}
            <div class="padding-table">
                <h2 class="big-title">{{ 'frontend.jobs.my_jobs' | trans }}</h2>
                <a href="{{ path('job_post') }}" class="add right">
                    <img class="sprite-button-add-focus-grey-bg" src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" alt="+"/>{{ 'frontend.jobs.post' | trans }}
                </a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="span5">{{ 'entity.job.title' | trans }}</th>
                        <th class="span2">{{ 'entity.job.time_left' | trans }} </th>
                        <th class="span2">{{ 'entity.job.views' | trans }}</th>
                        <th class="span4">{{ 'buttons.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for job in jobs %}
                        <tr>
                            <td>
                                <a href="{{ path('job_udpate_preview', job.urlParameters) }}">
                                    {{ job.contractName | trans }} {{ 'frontend.jobs.in' | trans }} {{ job.company.city }} &mdash; {{ job.title }}
                                </a>
                            </td>

                            {% set now = date('now') %}
                            {% if job.publishStart == null %}
                                <td style="color:orange">{{ 'entity.job.status.waiting_payment' | trans }}</td>
                            {% elseif job.publishStart > now %}
                                <td style="color:orange">{{ 'entity.job.status.not_online_yet' | trans }}</td>
                            {% else %}
                                {% if job.publishEnd > now %}
                                    <td>
                                        <abbr title="{{ 'entity.job.expire_on' | trans({'%job.publishEnd%': job.publishEnd | localizeddate}) }}">
                                            {{ 'entity.job.time_left_value' | transchoice(date().diff(date(job.publishEnd)).d) }}
                                        </abbr>
                                    </td>
                                {% else %}
                                    <td style="color:pink">{{ 'entity.job.status.expired' | trans }}</td>
                                {% endif %}
                            {% endif %}

                            {#<td style="color:green"> Archived</td>#}

                            <td>{{ job.totalViewsCount }}</td>

                            <td class="action">
                                <a href="#">{{ 'buttons.renew' | trans }}</a> /
                                <a href="{{ path('job_publish', job.urlParameters) }}">{{ 'buttons.publish' | trans }}</a> /
                                <a href="{{ path('job_update', job.urlParameters) }}">{{ 'buttons.make_changes' | trans }}</a> /
                                <a href="#">{{ 'buttons.archive' | trans }}</a> /
                                <a href="#">{{ 'buttons.unarchive' | trans }}</a> /
                                <a href="#">{{ 'buttons.delete' | trans }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{ 'frontend.jobs.user_no_job' | trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="right">
                    {{ knp_pagination_render(jobs) }}
                </div>
                <div class="clear"></div>
            </div>
        {% endblock %}
        {% block box_clear %}
        {% endblock %}
    {% endembed %}
    <div class="clear"></div>
{% endblock %}
