{% set extended_layout = "SensioLabsJobBoardBundle::Backend/layout.html.twig" %}
{% extends "SensioLabsJobBoardBundle::layout_wysiwyg.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'backend add' %}
{% block title 'Backend - Edit' %}

{% block content %}
    {{ breadcrumb({
        'Backend': path('backend_list'),
        ('Make changes on "%title%" announcement' | trans({'%title%': job.title})): null,
    }) }}

    {% embed "SensioLabsJobBoardBundle:Includes:job_form.html.twig" with {'form_action' : path('backend_edit', {id: job.id})} %}
        {% block admin_extra_fields %}
            <div class="backend-job-dates">
                Visible from
                {{ form_widget(form.publishStart) }}
                to
                {{ form_widget(form.publishEnd) }}
                (format: mm/dd/yyyy)
            </div>
        {% endblock %}
        {% block buttons %}
            <hr/>
            <div class="backend-validate">
                {{ form_widget(form.publish) }}
                <label for="adminjob_publish">Validate the announcement</label>
            </div>

            <button class="green-button right" type="submit" name="save">
                <img src="{{ asset('bundles/sensiolabsjobboard/images/blank.png') }}" class="sprite-icon-cloud-upload" />
                <span>Save</span>
            </button>
        {% endblock %}
    {% endembed %}

{% endblock %}
