{% import _self as self %}

{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% block title 'Backend - List' %}

{% block content %}
<ul id="breadcrumb">
    <li class="{{ status == 'PUBLISHED' ? 'active' : '' }}">
        <a href="{{ path('backend_list') }}">Published ads</a> |
    </li>
    <li class="{{ status == 'ARCHIVED' ? 'active' : '' }}">
        <a href="{{ path('backend_list', {status: 'archived'}) }}">Archived ads</a> |
    </li>
    <li>
        <a href="#">Deleted ads</a>
    </li>
</ul>

{% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
    {% block box_content %}
        <div class="padding-table">
            <div id="backend-job-container">

                {% if app.session.flashBag.peek('error') | length %}
                    <ul class="backend-flashes">
                        {% for error in app.session.flashBag.get('error') %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                        {#<li class="success">Example of an success message</li>#}
                    </ul>
                {% endif %}

                <h2 class="big-title">Published ads</h2>

                <table class="table table-striped backend-list">
                    <thead>
                    <tr>
                        <th>{{ self.pagination_sortable(jobs, 'Company', 'job.company') }}</th>
                        <th>{{ self.pagination_sortable(jobs, 'Title', 'job.title') }}</th>
                        <th>{{ self.pagination_sortable(jobs, 'Created at', 'job.createdAt') }}</th>
                        <th>List Displays</th>
                        <th>View Displays</th>
                        <th>Ext Displays</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr data-id="{{ job.id }}">
                            <td>{{ job.company }}</td>
                            <td>{{ job.title }}</td>
                            <td>{{ job.createdAt | date('d/m/Y') }}</td>
                            <td>{{ job.listViewsCount }}</td>
                            <td>{{ job.displayViewsCount }}</td>
                            <td>{{ job.apiViewsCount }}</td>
                            <td>
                                <a href="{{ path('backend_edit', {id: job.id}) }}"> Edit </a>
                                {{ form_start(delete_forms[job.id]) }}
                                {{ form_widget(delete_forms[job.id].delete) }}
                                {{ form_end(delete_forms[job.id]) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(jobs, 'SensioLabsJobBoardBundle:Pagination:sliding_backend.html.twig') }}
            </div>
            <div class="clear"></div>
        </div>

        {% block box_clear '' %}
        {% endblock %}
        {% endembed %}
    {% endblock %}

{% macro pagination_sortable(pagination, title, key) %}
    {{ knp_pagination_sortable(pagination, title, key) }}
    {% if pagination.isSorted(key) %}
        {{ pagination.direction == 'asc' ? '▲' : '▼' }}
    {% endif %}
{% endmacro %}
