{% import '@SensioLabsJobBoard/Includes/macros.html.twig' as macros %}

{% extends "SensioLabsJobBoardBundle:Backend:layout.html.twig" %}

{% block title 'Backend - List' %}

{% block content %}
<ul id="breadcrumb">
    <li class="{{ status is constant('SensioLabs\\JobBoardBundle\\Entity\\Job::STATUS_PUBLISHED') ? 'active' : '' }}">
        <a href="{{ path('backend_list') }}">{{ 'backend.menu.published' | trans }}</a> |
    </li>
    <li class="{{ status is constant('SensioLabs\\JobBoardBundle\\Entity\\Job::STATUS_ARCHIVED') ? 'active' : '' }}">
        <a href="{{ path('backend_list', {status: 'archived'}) }}">{{ 'backend.menu.archived' | trans }}</a> |
    </li>
    <li class="{{ status is constant('SensioLabs\\JobBoardBundle\\Entity\\Job::STATUS_DELETED') ? 'active' : '' }}">
        <a href="{{ path('backend_list', {status: 'deleted'}) }}">{{ 'backend.menu.deleted' | trans }}</a> |
    </li>
    <li class="{{ status is null ? 'active' : '' }}">
        <a href="{{ path('backend_list', {status: 'all'}) }}">{{ 'backend.menu.all' | trans }}</a>
    </li>
</ul>

{% embed 'SensioLabsJobBoardBundle:Includes:box.html.twig' %}
    {% block box_content %}
        <div class="padding-table">
            <div id="backend-job-container">

                {% if app.session.flashBag.peekAll() | length %}
                    <ul class="backend-flashes">
                        {% for message in app.session.flashBag.get('error') %}
                            <li class="error">{{ message }}</li>
                        {% endfor %}
                        {% for message in app.session.flashBag.get('success') %}
                            <li class="success">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h2 class="big-title">{{ (status is null ? 'backend.menu.all' : ('backend.menu.' ~ status | lower)) | trans }}</h2>

                <table class="table table-striped backend-list">
                    <thead>
                    <tr>
                        <th>{{ macros.pagination_sortable(jobs, 'entity.company.name' | trans, 'job.company') }}</th>
                        <th>{{ macros.pagination_sortable(jobs, 'entity.job.title' | trans, 'job.title') }}</th>
                        <th>{{ macros.pagination_sortable(jobs, 'entity.job.created_at' | trans, 'job.createdAt') }}</th>
                        {% if(status is null) %}
                            <th>{{ macros.pagination_sortable(jobs, 'entity.job.status_field' | trans, 'job.status') }}</th>
                        {% endif %}
                        <th>{{ 'entity.job.list_views' | trans }}</th>
                        <th>{{ 'entity.job.display_views' | trans }}</th>
                        <th>{{ 'entity.job.api_views' | trans }}</th>
                        <th>{{ 'buttons.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr data-id="{{ job.id }}">
                            <td>{{ job.company }}</td>
                            <td>{{ job.title }}</td>
                            <td>{{ job.createdAt | date('d/m/Y') }}</td>
                            {% if(status is null) %}
                                <td>{{ macros.status(job.status) }}</td>
                            {% endif %}
                            <td>{{ job.listViewsCount }}</td>
                            <td>{{ job.displayViewsCount }}</td>
                            <td>{{ job.apiViewsCount }}</td>
                            <td>
                                <a href="{{ path('backend_edit', {id: job.id}) }}">{{ 'buttons.edit' | trans }}</a>
                                {% if not job.deleted %}
                                    {{ form_start(delete_forms[job.id]) }}
                                    {{ form_widget(delete_forms[job.id].delete) }}
                                    {{ form_end(delete_forms[job.id]) }}
                                {% else %}
                                    {{ form_start(restore_forms[job.id]) }}
                                    {{ form_widget(restore_forms[job.id].restore) }}
                                    {{ form_end(restore_forms[job.id]) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(jobs, 'SensioLabsJobBoardBundle:Pagination:sliding_backend.html.twig') }}
            </div>
            <div class="clear"></div>
        </div>

        {% block box_clear '' %}
    {% endblock %}
{% endembed %}
{% endblock %}
