<html>
<body>

<p>Hello, a job announcement has been modified.</p>

<p>
    Source:
    <a href="{{ url('backend_edit', {'id': job.id}) }}">{{ url('backend_edit', {'id': job.id}) }}</a>
</p>

<br/>
<table>
    <tr>
        <td rowspan="2">BEFORE</td>
        <td>Title: {{ oldjob.title }}</td>
    </tr>
    <tr>
        <td>Description:<br/><br/>{{ oldjob.description }} </td>
    </tr>

    <tr>
        <td rowspan="2">AFTER</td>
        <td>Title: {{ job.title }}</td>
    </tr>
    <tr>
        <td>Description:<br/><br/>{{ job.description }}</td>
    </tr>
</table>
</body>
</html>
