<html>
<body>

<p>Hello, a job announcement has been modified.</p>

<p>
    Source:
    {% set showlink = frontend_link ? url('job_show', job.urlParameters) : url('backend_edit', {'id': job.id}) %}
    <a href="{{ showlink }}">{{ showlink }}</a>
</p>

<table>
    <tr>
        <td rowspan="3">BEFORE</td>
        <td>State: {{ oldjob.status }}</td>
    </tr>
    <tr>
        <td>Title: {{ oldjob.title }}</td>
    </tr>
    <tr>
        <td>Description:<br/><br/>{{ oldjob.description | purify }} </td>
    </tr>

    <tr>
        <td rowspan="3">AFTER</td>
        <td>State: {{ job.status }}</td>
    </tr>
    <tr>
        <td>Title: {{ job.title }}</td>
    </tr>
    <tr>
        <td>Description:<br/><br/>{{ job.description  | purify }}</td>
    </tr>
</table>
</body>
</html>
