{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}
{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'add' %}
{% block title 'Post a Job' %}

{% block content %}
    {% if from_preview %}
        {{ breadcrumb({
            'My jobs': path('manage'),
            (job.title): null,
        }) }}
    {% else %}
        {{ breadcrumb({'Post a job': path('job_post')}) }}
    {% endif %}

    {% embed "SensioLabsJobBoardBundle:Includes:job_form.html.twig" with {'form_action' : path('job_post')} %}
        {% block buttons %}
            <button class="green-button right" type="submit" name="preview">
                <span class="sprite-icon-light-arrow-right"></span>
                <span>{{ (from_preview ? 'Update' : 'Preview') | trans }}</span>
            </button>
        {% endblock %}
    {% endembed %}

{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/sensiolabsjobboard/vendor/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/sensiolabsjobboard/vendor/ckeditor/config.js') }}"></script>
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sensiolabsjobboard/vendor/ckeditor/contents.css') }}" />
{% endblock %}
