{% extends "SensioLabsJobBoardBundle::layout.html.twig" %}

{% from 'SensioLabsJobBoardBundle:Includes:breadcrumb.html.twig' import breadcrumb %}

{% block page_class 'publish' %}

{% block title job.title %}

{% block content %}
    {{ breadcrumb({
        ('frontend.jobs.post' | trans): path('job_post'),
        ('buttons.preview' | trans):  path('job_preview', job.urlParameters),
        ('buttons.publish' | trans):  null,
    }) }}

    {% embed 'SensioLabsJobBoardBundle:Includes:job.html.twig' %}
        {% block job_steps %}
            <div class="padding clearfix">
                <h2 style="color: red;">Here will be a payment form</h2>
            </div>
            <div class="padding clearfix">
                <a href="{{ path('job_preview', job.urlParameters) }}" class="green-button left">
                    <span class="sprite-icon-light-arrow-left"></span>
                    <span>{{ 'buttons.preview' | trans }}</span>
                </a>

                {{ form_start(publish_form) }}
                <button type="submit" class="green-button right">
                    <b>€$</b>&nbsp;
                    <span>{{ 'buttons.publish' | trans }}</span>
                </button>
                {{ form_end(publish_form) }}
            </div>
        {% endblock %}
    {% endembed %}

    <div class="clear"></div>
{% endblock %}
